@media screen and (max-width: 576px) {
    .nav-main {
        margin: 10px 20px;
    }

    .nav-left {
        display: none;
    }

    .three-dot {
        display: inline;
    }

    .header-content-container {
        flex-direction: column;
        margin: 0px 20px;
        /* align-items: flex-start; */
    }

    .header-tile,
    .header-description {
        margin-bottom: 25px;
    }

    .header-right {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-left {
        width: auto;
        margin-bottom: 40px;
    }

    .header-button {
        padding: 25px 40px;
        margin-right: 35px;

    }
    .youtube-icon{
        display: inline;
    }
    .circle{
        display: none;
        /* height: 0px;
        width: 0px; */
    }
    .header-card-1 {  
        height: 90px;  
    }
    .habit-card-container {
        
        grid-template-columns: repeat(1, 1fr);
       
    }
}