@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
}

/* header style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(180.00deg, rgb(0, 0, 0), rgba(49, 46, 46, 0.8) 100%);
    /* height: 715px; */

}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
    padding: 30px 0px;
}

.three-dot {
    display: none;
    color: white;
}

.nav-right {
    text-align: center;
    font-style: italic;
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}

.nav-left {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}

.nav-btn {
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-weight: 300;
    font-size: 18px;
    background-color: transparent;
    padding: 10px;
    margin-right: 15px;
}

.nav-btn-home {
    background-color: red;
    border-radius: 40px;
}

/* header banner style  */
.header-content-container {
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.header-tile {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 800;
    line-height: 57px;

}

.shape-italic {
    font-family: 'Miama', sans-serif;

}

.header-description {
    margin-top: 20px;
    color: rgb(165 161 161 / 61%);
}

.header-button {
    background-color: rgb(230, 83, 60);
    font-size: 15px;
    color: white;
    padding: 11px 32px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
}

.header-button-1 {
    background-color: black;
}

.header-right {
    width: 30%;
    position: relative;
}

.youtube-icon {
    display: none;
}

.header-left {
    width: 70%;
}

.header-img {
    width: 100%;
}

.header-card-1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    padding: 23px;
    gap: 20px;
    top: 385px;
    right: 220px;
    height: 70px;

}

.circle {
    height: 30px;
    width: 36px;
    background-color: red;
    border-radius: 50%;

}

.header-card-tile {
    color: white;
    font-size: 24px;
    font-weight: 800;
}

.header-card-description {
    color: rgba(239, 237, 232, 0.65);
    font-size: 12px;
    font-weight: 400;
}

.header-card-2 {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    padding: 12px 30px;
    top: 125px;
    right: -60px;
    height: 80px;
    align-items: center;

}

.header-card-tile-2 {
    color: white;
    font-size: 40px;
    font-weight: 800;
}

.header-card-description-2 {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;

}



/* main section stlyle start here  */

main {
    background-color: black;
}

.habit-section {
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
}

.habit-title {
    padding: 50px 0 0;
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.habit-description {
    margin-top: 20px;
    color: rgb(165 161 161 / 61%);
    margin-bottom: 40px;
}

.habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.habit-card img{
    border-radius: 50%;
    margin-bottom: 10 px;
}

.habit-card-title { 
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.habit-card-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

